doctype html
html
	head
		title URL Shortener
	body
		h3 URL Shortener
		p enter a url after the url to get a url code
		p#ex 
		br
		p enter that code after the url to redirect to that site
	script
		include client.js